<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>BMI Calculator (metric)</title>
  </head>
  <body>
    <div class="container">
      <h1>BMI Calculator(metric)</h1>
      <form action="/" method="post">
        <label for="name"
          >Name:
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Your Name"
            autocomplete="off"
            required="true"
        /></label>
        <label for="weight"
          >Weight(kg):
          <input
            type="number"
            name="weight"
            id="weight"
            placeholder="Weight"
            autocomplete="off"
        /></label>
        <label for="height"
          >Height(m): <input type="text" name="height" placeholder="Height"
        /></label>
        <button type="submit" name="submit">Calculate BMI</button>
      </form>
    </div>
  </body>
</html>
